body {
    background: black;
}

.neon {
    text-align: center;
    margin: 80px;
    font-size: 72px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', serif;

    color: #fff;
    letter-spacing: 5px;

    animation: flicker 1.5s infinite alternate;
}

@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow:
        0 0 8px #fff,
        0 0 18px #fff,
        0 0 22px aqua,
        0 0 45px aqua,
        0 0 70px aqua,
        0 0 90px rgb(0, 120, 255),
        0 0 140px aqua;
    }

    20%, 24%, 55% {
        text-shadow: none;
    }
}
